---
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "/{{ redirect.from }}/"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ siteTitle }}</title>
  <meta http-equiv="refresh" content="0; url={{ redirect.to }}"/>
</head>
</html>
