---
layout: secondary.njk
title: Tags
---
<section id="all-tags">
  <h2>{{ title }}</h2>
  <p>All tags used in articles</p>
  <ul>
  {%- for tag in collections.tagsList %}
    <li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
  {%- endfor %}
  </ul>
</section>
