---
layout: secondary.njk
title: Tags
---
<section id="all-tags">
  <h2>{{ title }}</h2>
  <p>All tags used in articles</p>
  <ul>
  {%- for tag in collections.tagsList %}
    {%- set count = collections[tag].length %}
    <li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a>: {{ count }} post{{ "" if count == 1 else "s" }}</li>
  {%- endfor %}
  </ul>
</section>
