---
layout: secondary.njk
pagination:
  data: collections.tagsList
  size: 1
  alias: title
permalink: "/tags/{{ title | slugify }}/"
---
<section id="items">
  <h2>{{ title | title }}</h2>
  <p>All articles with the tag <em>{{ title }}</em></p>
  <ol>
  {%- for a in collections[title] | reverse %}
    <li><a href="{{ a.url }}">{{ a.data.title }}</a> {{ a.data.dateStringShort }}</li>
  {%- endfor %}
  </ol>
</section>
