---
layout: main.njk
title: Winnie
---
<header id="intro">
  <h1>{{ siteTitle }}</h1>
  <p class="back"><a href="/">&#8592; Back to home</a></p>
</header>
<main>
  <h2>{{ title }}</h2>
  <p>December 1, 2012&ndash;June 15,2024</p>
  <img src="/winnie_under_desk.jpg" alt="Winnie sleeping under a desk"/>
</main>
