<footer>
  <p>
    &copy; 2024&ndash;2026 Corey Beres.
    Built with <a href="https://www.11ty.dev">{{ eleventy.generator }}</a>.
    Source available on <a href="https://github.com/cberes/cberes.com">GitHub</a>.
  </p>
</footer>
