/* This is mostly from Mozilla
 * https://developer.mozilla.org/en-US/docs/Web/CSS/How_to/Layout_cookbook/Pagination
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

nav[aria-label="pagination"] {
  padding-top: 0.5em;
  font: 1.2em sans-serif;
  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
}

.pagination a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #999999;
  border-radius: 0.2em;
  text-decoration: none;
}

.pagination a[aria-current="page"] {
  background-color: #cccccc;
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  .pagination a[aria-current="page"] {
    background-color: #333333;
    color: var(--text);
  }
}
